* {
    box-sizing: border-box;
    /* margin-left:20px; */
    padding: 0;
}

html, body {
    min-height: 100vh;
}


body {
    font-family: Arial, sans-serif;
    margin: auto;
    background: #c2c6cf;
}
body::before{
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("../images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(4px);
    transform: scale(1.1);
    z-index: -2;
}

.header-container {
    background: #e5e5e5;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    top: 0;
    max-width: 1340px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    border-radius: 6px;
}

.main-container {
    backdrop-filter: blur(20px);
    background: rgba(222, 222, 222, 0.6);
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    align-items: center;
    box-shadow: 
        0 4px 32px rgba(0,0,0,0.6),
        inset 10px 0 32px -10px rgba(0, 0, 0, 0.1),
        inset -10px 0 32px -10px rgba(0, 0, 0, 0.1);
}

.progress-container {
    position: relative;
    background: #eee;
    height: 20px;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    max-width: 1340px;
}

#progress-bar {
    height: 100%;
    width: 0%;
    background: #4caf50;
    transition: width 0.3s;
}

.progress-counter {
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    color: #333;
}

.task-manager-container {
    background: #f8f8f8;
    border-radius: 6px;
    overflow: auto;
    margin-bottom: 20px;
    align-content: top;
    height: 600px;
    padding-right: 20px;
    padding-left: 20px;
    top: 0;
    width: 300px;
    min-width: 300px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.help-popup {
    position: absolute;
    top: 40px;
    left: 50%;
    width: 350px;
    padding: 10px;
    background: rgba(255,255,255,0.95);
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateX(-50%) scaleY(0);
    transform-origin: top;
    z-index: 100;
    pointer-events: none;
}

.help-popup p {
    padding: 0 15px 0 15px;
}

.help-popup.show{
    opacity: 1;
    transform: translateX(-50%) scaleY(1);
    pointer-events: auto;
}


.help-btn {
    width: 100px;
    font-size: 15px;
    background: #efefef;
    color: #333;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    cursor: pointer;
}

#help-btn {
    position: relative;
}


.new-task-form {
    justify-content: center;
    display: flex;
    gap: 10px;
}

#new-task-input {
    font-size: 12px;
    padding: 10px 12px;
    max-width: 200px;
}
#add-task-btn {
    font-size: 12px;
}


.task-container {
    background: #f8f8f8;
    border-radius: 6px;
    overflow: auto;
    width: 500px;
    margin-bottom: 20px;
    align-content: top;
    justify-content: center;
    height: 600px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.sticky {
    position: sticky;
    padding-bottom: 10px;
    height: 40px;
    top: 0;
    z-index: 0;
    text-align: center;
    background: #f8f8f8;
    border-bottom: 2px solid #dedede;
}

li {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
    margin-bottom: 8px;
    margin-right: 25px;
    margin-left: 20px;
    background: #f0efef;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 1;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

li button {
    width: 50px;
    height: 30px;
    text-align: center;
    border-radius: 6px;
    border: none;
    margin: 5px;
    cursor: pointer;
    background: #333;
    color: #fff;
    font-size: 12px;
}

li span {
    flex: 1;
}

li .delete-btn {
    display: none;
    cursor: pointer;
    width: 60px;
    height: 30px;
    text-align: center;
    border-radius: 6px;
    margin: 5px;
    border: none;
    cursor: pointer;
    background: #e92424;
}

li.expanded .delete-btn{
    display: inline-block;
}

li.removing {
  opacity: 0;
  transform: translateX(-20px);
  height: 0;
  margin: 0;
  padding: 0;
}

hr {
    border: none;
    height: 2px;
    background: #dedede;
    margin: 20px; 
}

h2{
    padding-left: 20px;
}

.empty-message{
    text-align: center;
    color: #888;
    margin-top: 20px;
    font-style: italic;
}

.container {
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
}

button {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: #333;
  color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

button:hover {
  background: #555;
}

.json-feed {
    margin: 0 auto;
    background: #f5f5f5;
    padding: 0 10px 0 10px;
    border-radius: 6px;
    max-height: 600px;
    max-width: 1340px;
    overflow: auto;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.json-feed h1 {
    top: 0;
    padding-left: 10px;
    border-bottom: 2px solid #dedede;
}

.json-feed pre{
    font-size: 12px;
    box-shadow:  inset 0 2px 6px rgba(0, 0, 0, 0.15);
    background-color: #333;
    color: #c2c6cf;
}

@media (max-width: 720px) {
    body {
        background-size: cover;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    .task-manager-container {
        height: 200px;
        width: 100%;
    }
    .task-container {
        width: 100%;
    }
}
